body{
    margin: 0;
}
.menubar{
    width:100%;
    background-color: aqua;
    overflow: auto;
    border: 5px sandybrown;
}
.menubar a{
    float: left;
    width:20%;
    text-align: center;
    padding: 10px 0;
    transition: all 0.2 ease;
    color: blue;
    font-size: 40px;
}
.menubar a:hover{
    background-color: burlywood;
}
.active{
    background-color: chartreuse;
}